<div class="row">
    <div class="col-auto">
    Items / Page
    <select [(ngModel)]="maxRows" (change)="changeMaxRows()">
        <option value="25">25</option>
        <option value="50">50</option>
        <option value="100">100</option>
    </select>
    </div>
    <div class="col left">
        <double-left-angle-icon (click)="selectPage(1)"></double-left-angle-icon>
        <left-angle-icon (click)="previousPage()"></left-angle-icon>
        <div class="page-number" *ngFor="let page of firstPages" (click)="selectPage(page)"
             [ngClass]="{focused: selectedPage===page}">
            {{page}}
        </div>
        <b> . . . </b>
        <div class="page-number" *ngFor="let page of lastPages" (click)="selectPage(page)"
             [ngClass]="{focused: selectedPage===page}">
            {{page | number}}
        </div>
        <right-angle-icon (click)="nextPage()"></right-angle-icon>
        <double-right-angle-icon (click)="selectPage(pages - 1)"></double-right-angle-icon>
        <div *ngIf=rows class="page-status">
            {{offset + 1}} - {{+offset + visibleRows.length}} of {{rows.length | number}}
        </div>
    </div>
    <div class="col-auto">
        <button class="amv-btn" (click)="exportCsv()">Export CSV</button>
    </div>
</div>
<div class="pageable-content">
    <table>
        <thead>
        <tr>
            <th *ngFor="let column of columns"
                [innerHTML]="column.label"
                [class]="headerStyle(column.style)"
            ></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let row of visibleRows">
            <td *ngFor="let col of columns; let c = index"
                [title]="columns[c].description"
                [class]="columns[c].style"
            >
                {{row[columns[c].name]}}
            </td>
            <td></td>
        </tr>
        </tbody>
    </table>
</div>
