.left {
    text-align: left;
}
.right {
    text-align: right;
}
.fixed {
    font-family: Consolas, monospace;
}

.pageable-table {
    display: flex;
    flex-direction: column;
    padding-top: 12px;
}

.pageable-options {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    vertical-align: middle;
}

.pageable-option {
    padding: 6px 18px;
    vertical-align: middle;
}

.pageable-options .pageable-option:first-child {
    padding-left: 0;
}
.pageable-options .pageable-option:last-child {
    padding-right: 0;
}

.search {
    flex: 1;
    text-align: right;
    padding-right: 0;
}
.search-icon {
    padding-left: 8px;
}

.pageable-content {
    background: var(--panel-bg);
    overflow: auto;
    border-radius: 5px;
}

.page-number {
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
    text-align: center;
    cursor: pointer;
    vertical-align: middle;
    padding-bottom: 8px;
}
.page-number:hover {
    color: white;
}

.page-status {
    display: inline-block;
    padding-left: 20px;
    padding-right: 5px;
}

select {
    border-radius: 5px;
}

table {
    overflow: auto;
    width: 100%;
    border-collapse: collapse;
}

th {
    background-color: var(--btn-bg);
    cursor: pointer;
    padding-left: 8px;
}

td {
    padding: 2px 8px;
}

.th-icon {
    padding: 2px 0 2px 8px;
}

table td,th {
    white-space: nowrap;
    overflow: hidden;
    max-width: 220px;
    text-overflow: ellipsis;
    font-size: 10pt;
    border: 0;
}

table td:first-child,th:first-child {
    padding-left: 4px;
}

table td:last-child,th:last-child {
    width:100%;
    padding-right: 4px;
}

table tr:nth-child(odd) {
    background-color: var(--menu-bg);
}
