<div class="main-content-title">
            <b>Transactions with ID Scans</b><br><br>
</div>
<app-date-picker></app-date-picker>
    <div class="row">
        <div class="col-2">
            <br>
            <b>ID Scans: &nbsp;</b>
            <span *ngIf="idScans">{{idScans.length | number}}</span>
            <br>
            <b>Transactions: &nbsp;</b>
            <span *ngIf="invoices">{{invoices.length | number}}</span>
        </div>
        <div class="col-auto">
            <br>
            <input [(ngModel)]="showAllScans" type="checkbox" (change)="filterIdTransactions()"> All Scans
            <br>
            <input [(ngModel)]="onlyMinors" type="checkbox" (change)="filterIdTransactions()"> Only Minors
        </div>
        <div class="col-auto">
            <br>
            <input [(ngModel)]="onlyUnknown" type="checkbox" (change)="filterIdTransactions()"> Only Unknown
            <br>
            <input [(ngModel)]="missingScans" type="checkbox" (change)="filterIdTransactions()"> Missing ID Scans
        </div>
    </div>
<pageable-table [columns]="transactionColumns" [rows]="transactions" tableName="id-transactions"></pageable-table>
