
.temp-background {
    /* while the parent layout is still not yet on Material */
    padding: 1rem;
    height: auto;
}

.report-header {
    padding-bottom: 1rem;
}

.report-header mat-form-field, .report-header app-date-picker {
    margin-right: 1rem;
}

h2 {
    color: var(--primary-lighter-color);
}
