<mat-form-field appearance="fill">
    <mat-label>Month and Year</mat-label>
    <input
        matInput
        [matDatepicker]="$any(picker)"
        [formControl]="date"
        [max]="maxDate"
        [min]="minDate"
    >
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker
                    [calendarHeaderComponent]="monthlyDateHeader"
                    startView="year"
                    (yearSelected)="yearHandler($event)"
                    (monthSelected)="monthHandler($event, picker)">
    </mat-datepicker>
</mat-form-field>
