/* not isolated to this because technically it doesn't exist inside this component */
.mat-datepicker-content .mat-calendar {
    height: unset !important;
}

app-date-picker .mat-calendar-period-button {
    pointer-events: none;
}

app-date-picker .mat-calendar-arrow {
    display: none;
}

app-date-picker .mat-calendar-body-label {
    display: none;
}
